<div class="todo-modal-container">
  <div class="todo-card">
    <div class="card-header">
      <h3>Create Todo</h3>

      <button class="close-btn" (click)="onClose()"></button>
    </div>
    <div class="card-body">
      <form class="card-form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            #Title="ngModel"
            [(ngModel)]="createTodoModel.Title"
            [ngClass]="{'invalid' : Title.touched && Title.invalid}"
            autofocus
            required
            minlength="2"
            maxlength="255"
            class="form-control"
            type="text"
            id="title"
            name="Title">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            #Description="ngModel"
            [(ngModel)]="createTodoModel.Description"
            [ngClass]="{'invalid' : Description.touched && Description.invalid}"
            autofocus
            class="form-control"
            type="text"
            id="description"
            name="Description">
        </div>
        <div class="form-group">
          <label for="expiration-date">Expiration Date</label>
          <input
            #ExpirationDate="ngModel"
            [(ngModel)]="createTodoModel.ExpirationDate"
            [ngClass]="{'invalid' : ExpirationDate.touched && ExpirationDate.invalid}"
            autofocus
            required
            minlength="2"
            maxlength="255"
            class="form-control"
            type="date"
            id="expiration-date"
            name="ExpirationDate">
        </div>
        <div class="form-group">
          <label for="assigned-users">Assigned Users</label>
          <select required id="assigned-users" name="AssignedUser" class="form-control" [(ngModel)]="assignedUser" (change)="onAssignedUserChange($event)">
            <option *ngFor="let user of allUsers" [value]="user.Id">{{ user.Username }}</option>
          </select>
        </div>

        <div class="form-group form-actions mb-0">
          <button [disabled]="!f.form.valid" class="btn btn-primary" type="submit">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
