<div class="auth-layout">
  <div class="card">
    <div class="card-header">
      <h3>Brand</h3>
    </div>
    <div class="card-body">
      <div class="card-description text-center w-75 m-auto">
        <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Sign In</h4>
        <p class="text-muted mb-4">Enter your username and password to access todos panel.</p>
      </div>
      <form (ngSubmit)="form.form.valid && onSubmit(form)" #form="ngForm" class="card-form" novalidate>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            #Username="ngModel"
            [(ngModel)]="credentialsModel.Username"
            [ngClass]="{'invalid' : Username.touched && Username.invalid, 'valid' : userChecked}"
            (blur)="checkUser()"
            autofocus
            required
            minlength="4"
            maxlength="255"
            class="form-control"
            type="text"
            id="username"
            name="Username"
            placeholder="Enter your username">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-group input-group-merge">
            <input
              #Password="ngModel"
              [(ngModel)]="credentialsModel.Password"
              [ngClass]="{'invalid' : form.submitted && Password.invalid}"
              required
              minlength="6"
              maxlength="255"
              type="password"
              id="password"
              name="Password"
              class="form-control"
              placeholder="Enter your password">
          </div>
        </div>

        <div class="form-group mb-3">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked="">
            <label class="custom-control-label" for="checkbox-signin">Remember me</label>
          </div>
        </div>

        <div class="form-group mb-0 text-center">
          <button [disabled]="isLoading" class="btn btn-primary" type="submit">
            <span *ngIf="!isLoading">
              Log In
            </span>
            <span *ngIf="isLoading" class="spinner-border text-light" role="status"></span>
          </button>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <a routerLink="/auth/register" href="">Do not have an account?</a>
    </div>
  </div>
</div>
